:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --accent-color: #2196F3;
}

body{
    color: var(--secondary-text-color);
    font-family: Roboto;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
text-align: left;
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-text-color);
    font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
}

button{
    color:var(--primary-text-color);
}

button:hover{
    background-color: var(--accent-color);
    color: var(--primary-white-color)
}